<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../css/signup-signin.css">
</head>

<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form id="resetPasswordForm">
            <input type="hidden" id="resetToken" value="">
            <div>
                <label for="newPassword">New Password:</label>
                <!-- <input type="password" id="newPassword" required> -->
                <div class="password-container">
                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter new Password"
                        required />
                    <span id="togglePassword" class="password-toggle">👁️</span>
                </div>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/resetPassword.js"></script>
</body>

</html>